body {
    margin: 0;
    font-family: ProximaNova-Light, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3e3e38;
    text-align: left;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    background-color: #004977;
    padding: 10px 20px;
}

nav img {
    width: 100px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ffd700;
}

nav .auth-buttons {
    margin-left: auto;
}

nav .btn {
    color: white;
    background-color: #007BFF;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.auth-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.auth-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.auth-container button:hover {
    background-color: #0056b3;
}

.welcome-text {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}